<footer class="flex flex-col">
    <div class="flex flex-row justify-center gap-32 pb-8 px-[20%] bg-black text-white border-t border-gray-700 pt-10">
        <div class="flex flex-col">
            <h1 class="pb-4 font-semibold">Help/Support</h1>
            <ul class="flex flex-col gap-2">
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Help Desk</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Contact Us</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Order History</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Track Order</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Change Delivery Options</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Delivery & Assitance</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <h1 class="pb-4 font-semibold">More</h1>
            <ul class="flex flex-col gap-2">
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">About Us</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Careers</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Teaching</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Studio Availability</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <h1 class="pb-4 font-semibold">News/Events</h1>
            <ul class="flex flex-col gap-2">
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Latest News</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Collaborations</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Online Lessons</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Collaboration Items</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Limited Edition Items</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <h1 class="pb-4 font-semibold">Sale/Items</h1>
            <ul class="flex flex-col gap-2">
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Special Sales</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">New Instruments</a></li>
                <li class="text-gray-400 hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Featured Instruments</a></li>
            </ul>
        </div>
    </div>
    <div class="py-6 border-t border-gray-700 bg-black text-white px-[20%]">
        <ul class="flex flex-row gap-8 justify-center">
            <li>© 2025 Company, Inc. All rights reserved</li>
            <li class="hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Terms & Conditions</a></li>
            <li class="hover:text-red-500 duration-300"><a class="pointer-events-none" href="">Privacy Policy</a></li>
        </ul>
    </div>
</footer>