<div class="w-full flex justify-center bg-black grid px-[20%] text-white text-[12px] py-3">
    <p>Winter Sale: Limited-Time Offers on Select Items! <a class="underline" href=""> Shop Now ></a></p>
</div>

<div class="w-full grid grid-cols-3 py-2 px-[20%] border-y shadow ">
    <div class="flex justify-center items-center">
        <a href="/index.html"><img src="/images/logo.png" class="h-14 w-14 rounded-xl"></a>
    </div>
    <div class="flex justify-center items-center gap-3 bg-gray-100">
        <input class="border-2  border-black rounded px-2 h-14 w-full"
            placeholder="Search Instruments, Cables, Accessories..." />
    </div>
    <ul class="flex justify-center items-center flex-row gap-5">
        <li class="hover:text-red-500"><a class="pointer-events-none" href="">Stores & Services </a></li> |
        <li class="hover:text-red-500"><a class="pointer-events-none" href="">Register</a></li> |
        <li class="hover:text-red-500"><a class="pointer-events-none" href="">Log In</a></li>
        <i class="fas fa-shopping-cart text-gray-700 text-2xl"></i>
    </ul>
</div>
<div class="w-full bg-black grid px-[20%] text-white">
    <nav class="flex justify-center text-xl py-5">
        <ul id="navBarItems" class="flex flex-row gap-14">
            <li class=""><a class="" href="/index.html">Home</a></li>
            <li class=""><a class="" href="/Drums/index.html">Drums</a></li>
            <li class=""><a class="" href="/Guitars/index.html">Guitars</a></li>
            <li class=""><a class="" href="/Bass/index.html">Bass</a></li>
            <li class=""><a class="" href="/KeysPianos/index.html">Keys/Pianos</a></li>
            <li class=""><a class="" href="/Sale/index.html">Sale</a></li>
        </ul>
    </nav>
</div>
<div class="w-full flex flex-row items-center justify-evenly py-4 px-[20%] text-black text-sm border-y shadow">
    <p>FREE Shipping On Orders Over $100</p>
    <p>Music Lessons Available Now! Click <a class="text-red-500 underline" href="">Here</a></p>
    <p>Official Retailing Partner</p>
</div>

<script>
</script>