<div class="w-full flex justify-center bg-gray-600 grid grid-cols-2 px-[20%] text-white text-[12px] py-8">
    <div class="flex flex-col justify-center items-center gap-2">
        <h1 class="text-4xl font-semibold tracking-tighter">Join Our Newsletter!</h1>
        <p class="text-center px-24">Sign up to join our monthly newsletter and hear about hot deals, new item drops and more! Enter your to email stay updated!</p>
        <div class="w-full px-24 flex flex-row">
            <textarea placeholder="Enter Email Here" class="w-full h-12 bg-black resize-none flex justify-center items-center text-lg px-2 py-2.5"></textarea>
            <button class="bg-gray-800 rounded-r py-2 text-white hover:bg-black/70 duration-300 text-lg p-4">Submit</button>
        </div>
        
    </div>
    <div class="flex flex-col justify-center items-center gap-2">
        <h1 class="text-4xl font-semibold tracking-tighter">Become a Member!</h1>
        <p class="text-center px-24">Join our members club today! Members can benefit from our loyalty rewards programs and receive up to 30% off purchases.</p>
        <button class="bg-black rounded py-2 text-white hover:bg-black/70 duration-300 text-lg p-4">Join Now</button>
    </div>
</div>